body{
    text-align: left;
    background-color: papayawhip;
    padding: 0em;
    color: blue;
    font-size: 1em;
       
}

button
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: blueviolet;
    padding: 0em;

}
